.col-md-6{
    left: -15px;
}
.container{
    background-color: white;
    width: 450px;
}
body{
   background-image: url('/Arquivos_iniciais_de_apoio/images/pattern-background-desktop.svg');   
}

h3{
    text-align: center;
    margin-left: -21px;
    font-size: 29px;
    font-weight: 700;
}

h4{
    text-align: center;
    font-size: 16px;
    margin-left: -21px;
    color:grey;
    margin-top: 20px;
}
@font-face {
    font-family: RedHatDisplay;
    src: url('fonts/RedHatDisplay-Regular.ttf')
}